{{ define "content" -}}
<div class="tag-cloud"  style="font-size:18px">
評論系統暫時采用 Gitalk，若有不便還請見諒。
</div>
  <article class="post bg-white">
    <!-- post-header -->
    <header class="post-header">
      {{ with .Params.categories -}}
        <span class="post-category">
          {{ range . }}
          {{- $name := . -}}
          {{- with $.Site.GetPage "taxonomy" (printf "categories/%s" $name) | default ($.Site.GetPage "taxonomy" (printf "categories/%s" ($name | urlize))) -}}
            <a href="/categories/#{{ $name }}">{{ $name }}</a>
          {{ end -}}
          {{ end }}
        </span>
      {{- end }}
      {{ with .Params.tags -}}
          {{ range . }}
          {{- $name := . -}}
          {{- with $.Site.GetPage "taxonomy" (printf "tags/%s" $name) | default ($.Site.GetPage "taxonomy" (printf "tags/%s" ($name | urlize))) -}}
<span class="post-tag">
          <a href="/tags/#{{ $name }}">{{ $name }}</a>
</span>
          {{ end -}}
          {{ end }}
      {{- end }}
      <h1 class="post-title">{{ .Title }}</h1>
      {{ partial "post/i18nlist.html" . }}
      <div class="post-meta">
        <time datetime="{{ .Date.Format "2006-01-02" }}">
          {{ .Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }} —— {{ .Lastmod.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }}
</time>
        {{ if .Site.Params.moreMeta -}}
          <span class="more-meta"> {{ i18n "wordCount" .WordCount }}
        {{- end }}
  <!--         {{ if .Site.Params.counter.leancloud.enable }}
       <span id="{{ .URL }}" class="leancloud_visitors" data-flag-title="{{ .Title }}">
            <span class="post-meta-item-text">點擊量 </span>
            <span class="leancloud-visitors-count"></span>
          </span>
        {{ end }}
      -->
        </span>
      </div>
    </header>

    {{ partial "post/copyright.html" . }}
{{ if or .Params.vertical (and .Site.Params.vertical (ne .Params.vertical false)) }}
{{ if or .TableOfContents  (and .Description) }}
<div class="post-content1">
  {{ if .TableOfContents }}
  <div class="toc"><div class="toc1">{{ .TableOfContents }}</div></div>
  {{ end }}
  {{ if .Description }}
  <div class="description"><div class="description1">{{ .Params.Description | safeHTML }}</div></div>
  {{ end }}
  </div>
  {{ end }}
<div class="post-content">
  {{ .Content }}
  <i class="heart" style="padding: 0 60px 0 60px;float:right">{{ partial "svg/heart.svg"}}&nbsp\</i>
</div>
  {{ else }}
    <div class="post-content2">
      {{ if .TableOfContents }}
      <div class="toc"><div class="toc1">{{ .TableOfContents }}</div></div>
      {{ end }}
      {{ if .Description }}
      <div class="description"><div class="description1">{{ .Params.Description | safeHTML }}</div></div>
      {{ end }}
      {{ .Content }}
      <i class="heart" style="padding: 0 60px 0 60px;float:right">{{ partial "svg/heart.svg"}}</i>
</div>
    {{ end }}
    <footer class="post-footer">
      <!-- Post Pagination -->
      <nav class="post-nav">
        {{ with .NextInSection }}
          <a class="prev" href="{{ .URL }}">
            {{/* icon left */}}
            <i class="iconfont">
              {{ partial "svg/left.svg" }}
            </i>
            <span class="prev-text nav-default">{{ .Title }}</span>
            <span class="prev-text nav-mobile">{{ i18n "prev_post" }}</span>
          </a>
        {{- end }}
        {{ with .PrevInSection }}
          <a class="next" href="{{ .URL }}">
            <span class="next-text nav-default">{{ .Title }}</span>
            <span class="prev-text nav-mobile">{{ i18n "next_post" }}</span>
            {{/* icon right */}}
            <i class="iconfont">
              {{ partial "svg/right.svg" }}
            </i>
          </a>
        {{- end }}
      </nav>
    </footer>
  </article>
  <!-- Author Info -->
  {{ if and (.Params.author | default .Site.Author.name) (.Params.showAuthorInfo | default .Site.Params.showAuthorInfo) }}
  {{ partial "author_info.html" (dict "author" (.Params.author | default .Site.Author.name) "context" $) }}
  {{ end }}
  <!-- Comments -->
  {{ partial "comments.html" . }}
{{- end }}
