<!--{{ if and .IsPage (ne .Params.comment false) }}-->
<div class="tag-cloud" >
  <span class="tag-cloud-tags1">
    <a href="https://kujihhoe.us17.list-manage.com/subscribe/post?u=3fb7b2733301fbcf39ec69597&amp;id=6819d3d05d" target="_blank">郵件訂閱</a>
  </span>
  <p style="font-size:16px">訂閱由 MailChimp 提供。若無法打開，可留言，我會把您的郵箱加入訂閱名單
  <br>評論由 <a href="https://open.saintic.com/openservice/isso" target="_blank">诏预Isso开放服务</a>提供，國內網站請留意</p>
</div>
<section class="author-info" style="text-align:left">
        <script data-isso="https://open.saintic.com/isso/f8fn21"
                data-isso-max-comments-top="50"
                data-isso-reveal-on-click="50"
                src="https://open.saintic.com/isso/f8fn21/js/embed.min.js"></script>

<section id="isso-thread"></section>
</section>
<!--{{- end }}-->
