{{ if and .IsPage (ne .Params.comment false) }}

<div class="tag-cloud" >
  <span class="tag-cloud-tags1">
    <a href="https://kujihhoe.us17.list-manage.com/subscribe/post?u=3fb7b2733301fbcf39ec69597&amp;id=6819d3d05d" target="_blank">郵件訂閱</a>
  </span>
  <p style="font-size:16px">由 MailChimp 提供，可能會被牆。如果打不開，可以留言「博客訂閱」，我會把您的郵箱加入訂閱名單。</p>

</div>

  <div class="post bg-white">
<!--valine-->
  <div id="vcomments" style="font-family:Noto Sans CJK Kr,NotoSansCJKKr,Noto Sans CJK SC,NotoSansCJKSC, PingFang,PingFang SC,PingFangSC,Microsoft YaHei,Sans-serif;line-height:1.7 "></div>
  <script>
      new Valine({
          el: '#vcomments',
          appId: 'yp4nIF0OXyIMTEyjixb0p6w5-gzGzoHsz',
          appKey: 'iooXBj18fhM6S4yonspGEspA',
          visitor: true,
          avatar:'' ,
          placeholder: '快来评论吧！输入邮箱后，若有回复，即可收到邮件提醒。'
      })
  </script>
  </div>
{{- end }}
