// ==============================
// Copyright
// =============================

.copyright {
  margin: $copyright-margin;
  color: $dark-gray;
  text-align: center;
  font-family: $global-serif-font-family;
  letter-spacing: 0;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.65;
  a {
    color: $theme-color;
    &:hover {
      -webkit-transition: .3s;
      transition: .3s;
      color: $dark-gray;
      background: $pink;
    }}
  .copyright-year {
    display: block;
  }
  .copyright a{
    color: $theme-color;
  }
  .copyright a:hover{
    color: $dark-gray;
    -webkit-transition: .3s;
    transition: .3s;
  }
}
