<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}" itemscope itemtype="http://schema.org/WebPage">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    {{- block "title" . -}}
      {{ if .IsPage }}{{ .Title }} - {{ .Site.Title }}{{ else }}{{ .Site.Title }}{{ end }}
    {{- end -}}
  </title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  {{ partial "head1.html" . }}
</head>
<body>

<div id="a">
<center><div id="top"><img src="/11.jpg" width="50px"></div></center>
<div id="intro" >
<div class="title">
<div style="font-size: 70px;padding-left: 40px;">咨爾<span style="letter-spacing: -5px">多</span><span style="font-size:80px;letter-spacing: 0">士</span>！</div>隹時柯棋瀚主葉</div>
<div class="date"><i style="margin-right:15px"><img src="/logo.svg"width="16px"></i>
版本：20190112　㪅新：20190715</div>
<p class="label">永嘉田家後　生於九七秊　長于錦官城　讀的歷史系</p>
<center>
<span style="border: 1px #c41011 solid;padding:2px 27px 32px 31px">
<img src="/head.jpg" Width="140px">
	</span>
<br><span style="letter-spacing: 5px;font-weight: 700;font-size: 20px; ">我的近照</span>
</center><br><br><br><br><br><br><br>

<span id="title1">自述</span>
     <div class="email">
				<p>我當然不會告訴伱具體生日　因爲名字就有我的八字</p>
            <p>我從小到大的外號依次爲　柯柯　主席　柯手　師傅　柯神　蓮蓮　柯柯</p>
			<p>我是箇无聊的人　我每天的活動大槩都在這箇網葉裏</p>
            <p>任何問題都可以發郵件</p>
			<span style="float: right;margin:9px -16px  0;"><img src="/13.jpg" width="19px"></span>
			<br>
            </div><br><br><br><br><br>
<span id="title1">聯絡</span>
<div class="email">
            <table cellpadding=7px style="text-align:left;margin:0 auto;padding-top:20px">
            <tr>
            <td style="text-align:right;border-right:1px #c41011 dashed;font-family: Noto Sans CJK Kr,NotoSansCJKKr,Noto Sans CJK SC,NotoSansCJKSC, PingFang,PingFang SC,PingFangSC,Microsoft YaHei,Sans-serif">PGP　</td>
            <td>　<a href="/kujihhoe (E2269D07) public.asc" target="_blank">公鑰</a></td>
            <td><span id="note">懂的自然懂</span></td>
            </tr>
            <tr>
            <td style="text-align:right;border-right:1px #c41011 dashed;font-family: Noto Sans CJK Kr,NotoSansCJKKr,Noto Sans CJK SC,NotoSansCJKSC, PingFang,PingFang SC,PingFangSC,Microsoft YaHei,Sans-serif">郵箱　</td>
            <td>　<a href="mailto:ke@kqh.me">ke@kqh.me</a></td>
            <td><span id="note">可能會被歸爲垃圾郵件</span></td>
            </tr>
            <tr>
            <td style="text-align:right;border-right:1px #c41011 dashed;font-family: Noto Sans CJK Kr,NotoSansCJKKr,Noto Sans CJK SC,NotoSansCJKSC, PingFang,PingFang SC,PingFangSC,Microsoft YaHei,Sans-serif">GitHub　</td>
            <td>　<a href="https://github.com/kujihhoe" target="_blank">kujihhoe</a></td>
            <td><span id="note">网站源碼</span></td>
            </tr>
            <tr>
            <td style="text-align:right;border-right:1px #c41011 dashed;font-family: Noto Sans CJK Kr,NotoSansCJKKr,Noto Sans CJK SC,NotoSansCJKSC, PingFang,PingFang SC,PingFangSC,Microsoft YaHei,Sans-serif">Facebook　</td>
            <td>　<a href="https://www.facebook.com/kujihhoe" target="_blank">kujihhoe</a></td>
            <td><span id="note">只看不發</span></td>
            </tr>
            <tr>
            <td style="text-align:right;border-right:1px #c41011 dashed;font-family: Noto Sans CJK Kr,NotoSansCJKKr,Noto Sans CJK SC,NotoSansCJKSC, PingFang,PingFang SC,PingFangSC,Microsoft YaHei,Sans-serif">知乎　</td>
            <td>　<a href="https://www.zhihu.com/people/ke-qi-han/activities" target="_blank">止息</a></td>
            <td><span id="note">只看不發</span></td>
            </tr>
            <tr>
            <td style="text-align:right;border-right:1px #c41011 dashed;font-family: Noto Sans CJK Kr,NotoSansCJKKr,Noto Sans CJK SC,NotoSansCJKSC, PingFang,PingFang SC,PingFangSC,Microsoft YaHei,Sans-serif">豆瓣　</td>
            <td>　<a href="https://www.douban.com/people/kujihhoe/" target="_blank">kujihhoe</a></td>
            <td><span id="note">基本不看</span></td>
            </tr>
            </table>


    	<p id="note">本站其他域名　kujihhoe.com　keqh.me</p>
						<span style="float: right;margin:9px -16px  0;"><img src="/13.jpg" width="19px"></span>
						<br>
						</div>
        </div>
     <hr><div id="intro" >
<div class="end2"> </div></div>
        <div id="blog" >
            <br><a href="/post" target="_blank">博客</a>
            <br><span class="time">{{ .Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }}</span>
            <p>㪅新<span class="time">2019-07-15</span></p>
            </div>
	<br>
				<br>
				<br>
        <br>
				<br>

				        <div id="blog" >
				            <br><a href="https://kqh.wiki" target="_blank">維基</a>
                    <br><span class="time">2019-07-07</span>
				<p>存放筆記。</p>
				</div>
				<br>
				<br><br>
        <br>
				<br>

								<div id="blog" >
										<br><a href="https://qinpu.wiki" target="_blank">琴譜网</a>
                    <br><span class="time">2019-01-20</span>
	<p>傳世琴譜數字文本化工程，現徵募志願者。</p>
				</div>
        <hr><div id="intro" >
<div class="end2"> </div></div>

        <div id="blog" >
            <br><a href="/guqin/" target="_blank">古琴</a>
            <br><span class="time">2019-04-10</span>
            <p>網易雲音樂 音樂人【赫赫文王】</p>
            <p style="border-bottom: 1px #c41011 dashed;padding-bottom:15px">挖個坑，計畫未來學些編曲，想創造一種新的古琴音樂形式</p>
            <p><a href="/142" target="_blank">古琴表演記錄</a><span class="time">2019-07-02</span></p>
            <p><a href="/blog/2018/11/10/pu.html"  target="_blank">王華德琴譜稿及未出版歷史錄音</a></p>
</div>
<br><br><br><br><br>
<div id="blog" >
    <br><a href="/recording/" target="_blank">實地録音</a>
    <br><span class="time">2019-06-28</span>
<p>在網易雲音樂開了電臺【情形於聲】</p>
</div>
<br><br><br><br><br>
     <div id="blog" >
         <br><a href="https://500px.me/kujihhoe" target="_blank">書法 × 平面</a>
         <br><span class="time">2019-06-12</span>
<p>（中文 500px 太難用了，正在尋找新的圖片分享平臺）</p>
<p>以及這箇完全自己設計的主葉</p>
<p>書法是從九歲開始學的，到現在也跟著王老師有十多年了。對於書法，我只能自詡悟性不錯，雖然練得少，但能超過不少人，但這不能成爲偷懶的理由啊。</p>
<p>厚顏无恥地用「平面設計」這箇詞，其實自己一點都不會，就是在社團的旹候做了一點毫无技術含量的海報、封面之類。</p>
     </div>

<br><br><br><br><br>
<div id="blog" >
    <br><a href="/reading/" target="_blank">讀切韻擬音</a>
    <br><span class="time">2019-03-20</span>
<p>B 站上放一些用切韻擬音來讀的文章</p>

</div>
<br><br><br><br>
<div id="blog" >
    <br><a href="/dubbing/" target="_blank">㫄白配音 × 播音</a>
    <br><span class="time">2019-04-30</span>
<p>短暫的更新之後又停㪅了 _(:3 ⌒ﾞ)_</p>

</div>
	<hr><div id="intro" >
<div class="end2"> </div></div>
<div id="guqin" class="section">
	<div class="title">文章發表</div>
<p>我這發上來完全是貽笑大方，大方無視便是。竝非爲了誇耀，其實這些文章沒什麼水平，只是想鞭策自己努力。如果以後能走上學術道路，那這些也筭作一箇起點。（內部刊物指沒有公開發行刊號的刊物）</p>
<table style="font-size:16px;text-align:left">
  <tr style="font-size:20px;font-family: Noto Sans CJK Kr,NotoSansCJKKr,Noto Sans CJK SC,NotoSansCJKSC, PingFang,PingFang SC,PingFangSC,Microsoft YaHei,Sans-serif">
    <th style="padding:20px 25px 5px 0;">1</th>
    <td style="padding:20px 25px 5px 0;"><a href="/blog/2018/02/09/houzuowu.html"  target="_blank">蜀中琴人侯作吾先生</a></td>
  </tr>
  <tr>
    <td></td>
    <td>《錦江琴刊》（川派古琴學會會刊，內部刊物）第二期丁酉刊</td>
  </tr>
  <tr style="font-size:20px;font-family: Noto Sans CJK Kr,NotoSansCJKKr,Noto Sans CJK SC,NotoSansCJKSC, PingFang,PingFang SC,PingFangSC,Microsoft YaHei,Sans-serif">
    <th style="padding:20px 25px 5px 0;">2</th>
    <td style="padding:20px 25px 5px 0;"><a href="/blog/2017/10/28/fuchou.html"  target="_blank">《公羊傳》齊襄復讎事詮釋史</a></td>
  </tr>
  <tr>
    <td></td>
    <td>2017 秊「白壽彝史學論著獎‧本科生獎」三等獎</td>
  </tr>
  <tr>
    <td></td>
      <td>《春秋學刊》（內部刊物）<a href="/blog/2018/03/25/xuekan5.html"  target="_blank">2017 秊秌季卷</a></td>
  </tr>
  <tr>
    <td></td>
      <td>《唐山師笵學院學報》<a href="https://pan.baidu.com/s/1CcePh-mJSJsaRm_uvQ98JA"  target="_blank">2018 秊第 5 期</a>（人生弟一篇公開發表的呢）</td>
  </tr>
  <tr style="font-size:20px;font-family: Noto Sans CJK Kr,NotoSansCJKKr,Noto Sans CJK SC,NotoSansCJKSC, PingFang,PingFang SC,PingFangSC,Microsoft YaHei,Sans-serif">
    <th style="padding:20px 25px 5px 0">3</th>
    <td style="padding:20px 25px 5px 0;"><a href="https://kqh.ac/161/"  target="_blank">雷次宗《略注喪服經傳》疏議</a></td>
  </tr>
  <tr>
    <td></td>
    <td>2018 秊「白壽彝史學論著獎‧本科生獎」三等獎</td>
  </tr>
  <tr>
    <td></td>
    <td>卽將發表，敬請期待</td>
  </tr>
  <tr style="font-size:20px;font-family: Noto Sans CJK Kr,NotoSansCJKKr,Noto Sans CJK SC,NotoSansCJKSC, PingFang,PingFang SC,PingFangSC,Microsoft YaHei,Sans-serif">
    <th style="padding:20px 25px 5px 0">4</th>
    <td style="padding:20px 25px 5px 0;"><a href="https://kqh.ac/blog/2018/08/11/vifaji.html"  target="_blank">釋琴指法「卩」</a></td>
  </tr>
  <tr>
    <td></td>
    <td>卽將發表，敬請期待</td>
  </tr>
  <tr style="font-size:20px;font-family: Noto Sans CJK Kr,NotoSansCJKKr,Noto Sans CJK SC,NotoSansCJKSC, PingFang,PingFang SC,PingFangSC,Microsoft YaHei,Sans-serif">
    <th style="padding:20px 25px 5px 0">5</th>
    <td style="padding:20px 25px 5px 0;"><a href="https://kqh.ac/162/"  target="_blank">從尙書厤筭看王鳴盛的鄭學立場</a></td>
  </tr>
  <tr>
    <td></td>
    <td>將作投稿之用，敬請期待</td>
  </tr>
</table>

</div>
<center><div id="bottom"><img src="/12.jpg" width="50px"></div></center>
</div>
<br><br><br>
<div id="b">
<div id="intro"><span id="title1" >留言</span>
 <div id="valine">
  <div id="vcomments" style="font-family:Noto Sans CJK Kr,NotoSansCJKKr,Noto Sans CJK SC,NotoSansCJKSC, PingFang,PingFang SC,PingFangSC,Microsoft YaHei,Sans-serif "></div>
  <script>
      new Valine({
          el: '#vcomments',
          appId: 'yp4nIF0OXyIMTEyjixb0p6w5-gzGzoHsz',
          appKey: 'iooXBj18fhM6S4yonspGEspA',
          avatar:'' ,
          placeholder: '快来评论吧！输入邮箱后，若有回复，即可收到邮件提醒。'
      })
  </script>
  </div>
</div>

</div>
</body>
</html>
