<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}" itemscope itemtype="http://schema.org/WebPage">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    {{- block "title" . -}}
      {{ if .IsPage }}{{ .Title }} - {{ .Site.Title }}{{ else }}{{ .Site.Title }}{{ end }}
    {{- end -}}
  </title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  {{ partial "head1.html" . }}
</head>
<body>
<div id="a">
<div id="intro" >
<div class="title"><br><img src="/logo.png" width="100px"></div><div id="cate">（ 赫 赫 文 王 ）</div><br><br><hr>
<p class="label">永嘉田家後/　生於九五後/</p><p class="label">長于錦官城/　讀的歷史系/</p>
<hr>
<div style="font-size:18px">
            <table cellpadding=0px style="text-align:left;margin:0 auto 20px auto;">
            <tr>
            <td style="text-align:right;font-family: Noto Sans CJK Kr,NotoSansCJKKr,Noto Sans CJK SC,NotoSansCJKSC, PingFang,PingFang SC,Microsoft YaHei,Sans-serif">PGP //&nbsp </td>
            <td><a href="/kujihhoe (E2269D07) public.asc" target="_blank">E2269D07</a></td>
            </tr>
            <tr>
            <td style="text-align:right;font-family: Noto Sans CJK Kr,NotoSansCJKKr,Noto Sans CJK SC,NotoSansCJKSC, PingFang,PingFang SC,Microsoft YaHei,Sans-serif">email & iMessage //&nbsp </td>
            <td><span>me (at) kqh.me</span></td>
            </tr>
            </table>
						</div>

        </div>
      </div>
<hr style="background: #d9b0b0">
        <div id="card-container">
            <a href="/post" target="_blank"> <div id="card">
                 <div class="title" >博客</div>
                 <span class="time" >{{ .Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }}</span><br><br>
                 <p><img src="https://img.shields.io/badge/dynamic/json?color=c41011&label=Feedly%20RSS&query=%24.data.totalSubs&url=https%3A%2F%2Fapi.spencerwoo.com%2Fsubstats%2F%3Fsource%3Dfeedly%26queryKey%3Dhttps%3A%2F%2Fkqh.me%2Fpost%2Findex.xml" height="22px"></p>
        </div></a></div>

        <div id="card-container">
            <a href="/recording" target="_blank"> <div id="card">
                 <div class="title" >維基×琴譜網</div>
                 <span class="time" >{{ .Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }}</span><br><br>
                 <p>【琴譜網】傳世琴譜數字文本化工程</p>
        </div></a></div>

<hr style="background: #d9b0b0">

<div id="card-container">
    <a href="/paper" target="_blank"> <div id="card"  style="background-color: #444444">
         <div class="title" style="color:#fffae8">古琴</div>
         <span class="time" style="color:#c7c7c7">2019-11-09</span><br>
     <br><p style="color:#c7c7c7">【赫赫文王】     <img src="https://img.shields.io/badge/dynamic/json?color=c41011&label=%E7%B6%B2%E6%98%93%E9%9B%B2%E9%97%9C%E6%B3%A8&query=%24.data.totalSubs&url=https%3A%2F%2Fapi.spencerwoo.com%2Fsubstats%2F%3Fsource%3DneteaseMusic%26queryKey%3D275990862"  height="23px">
  <img src="https://img.shields.io/badge/dynamic/json?color=c41011&label=bilibili%E9%97%9C%E6%B3%A8&query=%24.data.totalSubs&url=https%3A%2F%2Fapi.spencerwoo.com%2Fsubstats%2F%3Fsource%3Dbilibili%26queryKey%3D176570453"  height="23px"></p>
</div></a></div>

<div id="card-container">
    <a href="/recording" target="_blank"> <div id="card" style="background-color: #90b993">
         <div class="title" style="letter-spacing:0">實地録音 field recording</div>
         <span class="time" style="color:#daf4dc">2019-11-09</span><br><br>
         <p  style="color:#daf4dc">【情形于聲】</p>
</div></a></div>

<div id="card-container">
    <a href="/calligraphy" target="_blank"> <div id="card"   style="background-color: #f8eec8">
         <div class="title">書法</div>
         <span class="time" style="color:#8c7524">2019-06-12</span><br><br>
         <p style="color:#8c7524">九歲開始練字，正常水平</p>
</div></a></div>

<div id="card-container">
    <a href="/design" target="_blank"> <div id="card" style="background-color: #6b0dd5">
            <div class="title" style="color:#fffae8">平面</div>
         <span class="time" style="color:#d9bafd">2019-07-08</span><br><br>
         <p style="color:#d9bafd">一些封面、海報、幻燈，菜鳥水平</p>
</div></a></div>

<div id="card-container">
    <a href="/reading" target="_blank"> <div id="card"  style="background-color: #8f0b0c">
            <div class="title" style="color:#fffae8">讀切韻擬音</div>
         <span class="time" style="color:#ffbbbc">2019-03-20</span><br><br>
         <p style="color:#ffbbbc">純娛樂向，沒有學術價値</p>
</div></a></div>

<div id="card-container">
    <a href="/dubbing" target="_blank"> <div id="card" style="background-color: #ffffff">
     <div class="title">旁白×播音</div>
         <span class="time">2019-04-30</span><br><br>
         <p>捂臉🤦‍♀️逃走</p>
</div></a></div>
<hr style="background: #d9b0b0">
<div id="a"><div id="intro" >
<div id="paper" class="section">
	<div class="title">文章發表</div>
<p>我這發上來完全是貽笑大方，無視便是。竝非爲了誇耀，其實這些文章沒什麼水平，只是想鞭策自己努力。如果以後能走上學術道路，那這些也筭作一箇起點。（內部刊物指沒有公開發行刊號的刊物）</p>
<hr>
<table style="font-size:16px;text-align:left">
  <tr style="font-size:20px;font-family: Noto Sans CJK Kr,NotoSansCJKKr,Noto Sans CJK SC,NotoSansCJKSC, PingFang,PingFang SC,PingFangSC,Microsoft YaHei,Sans-serif">
    <th style="padding:20px 25px 5px 0;">1</th>
    <td style="padding:20px 25px 5px 0;"><a href="/blog/2018/02/09/houzuowu.html"  target="_blank">蜀中琴人侯作吾先生</a></td>
  </tr>
  <tr>
    <td></td>
    <td>《錦江琴刊》第二期<a href="https://mp.weixin.qq.com/s?src=11&timestamp=1569771922&ver=1882&signature=ktz-PWIA-jAqjzO9uc0Fn9UdiD0wVV-5tjBgpoA*MBdFBBOKoDOyXQBZFYrLpJh0h1kxKgWuqPBKaBUVxp2rOulKRYbf7ssUZrrOH5*Vi4GSK7p6vJ84omf7xfEBSYsH&new=1"  target="_blank">丁酉刊</a>（川派古琴學會會刊，內部刊物）</td>
  </tr>
  <tr style="font-size:20px;font-family: Noto Sans CJK Kr,NotoSansCJKKr,Noto Sans CJK SC,NotoSansCJKSC, PingFang,PingFang SC,PingFangSC,Microsoft YaHei,Sans-serif">
    <th style="padding:20px 25px 5px 0;">2</th>
    <td style="padding:20px 25px 5px 0;"><a href="/blog/2017/10/28/fuchou.html"  target="_blank">《公羊傳》齊襄復讎事詮釋史</a></td>
  </tr>
  <tr>
    <td></td>
    <td>2017 秊「<a href="/blog/2018/11/12/bduzyi.html"   target="_blank">白壽彝史學論著獎</a>‧本科生獎」三等獎</td>
  </tr>
  <tr>
    <td></td>
      <td>《春秋學刊》<a href="/blog/2018/03/25/xuekan5.html"  target="_blank">2017 秊秌季卷</a>（內部刊物）</td>
  </tr>
  <tr>
    <td></td>
      <td>《唐山師笵學院學報》<a href="http://kns.cnki.net/kcms/detail/detail.aspx?dbcode=CJFD&filename=TSSF201805010&dbname=CJFDLAST2018&uid=WEEvREcwSlJHSldRa1FhdXNXaEdzWUV1S0lUcDlLdDNSRjhNTTk5SkRwRT0%3D%249A4hF_YAuvQ5obgVAqNKPCYcEjKensW4IQMovwHtwkF4VYPoHbKxJw!!"  target="_blank">2018 秊第 5 期</a>　弟 46—53 葉</td>
  </tr>
  <tr style="font-size:20px;font-family: Noto Sans CJK Kr,NotoSansCJKKr,Noto Sans CJK SC,NotoSansCJKSC, PingFang,PingFang SC,PingFangSC,Microsoft YaHei,Sans-serif">
    <th style="padding:20px 25px 5px 0">3</th>
    <td style="padding:20px 25px 5px 0;"><a href="https://kqh.me/178/"  target="_blank">雷次宗《略注喪服經傳》疏議</a>　<sup><span style="font-weight: 700 ;font-style: italic; font-size: 12px;font-family: serif;color: white;   background: #c41011;   border-radius:5px;padding-left: 3px;padding-right:6px">NEW!</span></sup></td>
  </tr>
  <tr>
    <td></td>
        <td>2018 秊「 <a href="https://kqh.me/blog/2018/11/12/bduzyi.html"   target="_blank">白壽彝史學論著獎</a>‧本科生獎」三等獎</td>
  </tr>
  <tr>
    <td></td>
    <td>鄧秉元主編：<a  href="https://www.rujiazg.com/article/17284" target="_blank">《新經學》第四輯</a>　上海人民出版社　2019 秊 9 月　弟 4—57 葉，<a href="https://book.douban.com/subject/34849208/" target="_blank">豆瓣</a></td>
  </tr>
  <tr style="font-size:20px;font-family: Noto Sans CJK Kr,NotoSansCJKKr,Noto Sans CJK SC,NotoSansCJKSC, PingFang,PingFang SC,PingFangSC,Microsoft YaHei,Sans-serif">
    <th style="padding:20px 25px 5px 0">4</th>
    <td style="padding:20px 25px 5px 0;"><a href="https://kqh.me/blog/2018/08/11/vifaji.html"  target="_blank">釋琴指法「卩」</a></td>
  </tr>
  <tr>
    <td></td>
    <td>卽將發表，敬請期待</td>
  </tr>
</table>
</div>
</div></div>

<hr style="background: #d9b0b0">

<div id="b">
<div id="comment">
<div id="intro">
  <script data-isso="https://open.saintic.com/isso/f8fn21"
          src="https://open.saintic.com/isso/f8fn21/js/embed.min.js"></script>
  <section id="isso-thread" style="text-align: left"></section>
</div></div></div>
</body>
</html>
