{{ define "content" -}}
<div class="tag-cloud"  style="margin: 0 90px 2em 90px;font-size:18px">
  【公告】域名已於 2018-12-03 從 kujihhoe.com 遷移到 kqh.ac，請及時更新
</div>
<article class="post bg-white">
  <!-- post-header -->
  <header class="post-header">
    <h1 class="post-title">{{ .Title }}</h1>
    {{ partial "post/i18nlist.html" . }}
    <div class="post-meta">
      <time datetime="{{ .Date.Format "2006-01-02" }}" class="post-time">
        {{ .Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }}
        × 改於 {{ .Lastmod.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }}
      </time>
    </div>
  </header>
  <!-- Copyright -->
  {{ partial "post/copyright.html" . }}
  <!-- TOC -->
  {{ partial "post/toc.html" . }}
  <!-- Content -->
  <div class="post-content">
      {{ .Content }}
  </div>
</article>
<!-- Comments -->
{{ partial "comments.html" . }}
{{- end }}
