blockquote {
  p:first-child::first-letter {
    color: inherit;
    float: none;
    font-size: inherit;
    margin: 0;
    font-weight: inherit;
   }
  margin: 0em 1em 0em 1em;
  padding: 2.38em 0.2em 0 0.2em ;
  color: $global-font-color;
  position: relative;
  line-height: 1.75;
  font-weight: 300;
  font-size: 18px;
  font-family: $global-serif-font-family;
  a{
    padding: 0 ;
  }
  a:hover{
    padding: 0 ;
  }
  u{
    padding-left: 0px;
  }
  footer {
    color: #333333;
    margin-left: 1em;
  }
  cite:before {
    content: '\2014';
    padding-right: 0;
    padding-left: 0;
  }
  .footnote-ref {
    display: inline;
    position: relative;
    margin: 10px 0 0 0;
    word-break: keep-all;
    &:hover .fn-content {
      opacity: 1;
      visibility: visible;
      transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0);
    }
    >a {
      font-weight: 400;
      font-size:14px;
      font-family: $global-code-font-family;
      padding:  3px 0 3px 1px;
      background: $pink;
      border-radius: 5px;
    }
    a:hover{
        padding:  3px 0 3px 1px;
      color: $white;
      background: $theme-color;
    }
  }
}
