// ==============================
// Post content
// ==============================
.post-content {
  margin: 10px 0 3px 0;
  word-wrap: break-word;
  text-align: justify;
  text-justify: inter-ideograph;
    writing-mode: vertical-rl;
    overflow: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 110%;
    max-height: 860px;
    border-top:  1px dashed $theme-color;
    border-bottom: 1px solid $theme-color;
    padding: 60px 0 60px 0;
  hr {
    background: $pink;
    border: none;
    width: 5px;
    height:  100%;
    margin: 0 50px ;
  }
  @for $i from 1 through 6 {
    h#{$i} {
      font-family: $global-serif-font-family;
      color: $theme-color;
      letter-spacing: 2px;
    }
  }

  h1 {
    margin: 0em 2em 0 1.2em ;
    padding-top: 2.15em;
    letter-spacing:10px;
    font-weight: 700;
    line-height: 1.55;
    font-family: $global-font-family;
  }

  h2 {
    margin-right: 0;
    font-weight: 700;
    line-height: 1.6;
    font-family: $global-font-family;
  }

  h3 {
    margin-right: 1.5em;
    font-weight: 600;
    line-height: 1.6;
  }
  h4 {
    font-weight: 700;
    line-height: 1.6;
  }
  h5 {
    font-weight: 400
  }
  h6 {
    font-weight: 200
  }

  a {
    color: $theme-color;
    word-break: break-all;
    &:hover {
    //  border-bottom: $content-link-border;
    background: $pink;
    border-radius: 5px;
    padding: 0 7px 0 2px ;
    color: $black;
    }
  }

  iframe {
    margin:  auto 0;
    display: block;
    width: 100%;
  }

  > table {
    margin:0 40px ;
      border-left: 3px solid $pink;
      width: 100%;

    td {
      border: 1px solid $pink;
      padding:5px 0px  ;
    }

    th {
      text-align: left;
      border-right: 3px solid $pink;
      border-top:  1px solid $pink;
      border-bottom:  1px solid $pink;
        border-left : 3px solid $pink;
      padding: 5px 5px  ;
    }
  }

  .post-summary {
    margin-left : -10px;
  }

  .read-more {
    text-align: right;

    .read-more-link {
      color: $theme-color;
      font-size: 0.8em;
      font-family: $global-serif-font-family;

      &:hover {
        border-left : $post-readMore-border-bottom;
      }
    }
  }

  kbd {
    display: inline-block;
    padding: 0.25em;
    background-color: $white;
    border: 1px solid #dbdbdb;
    border-left-color: #b5b5b5;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #b5b5b5;
    font-size: 0.8em;
    line-height: 1;
    font-family: $global-serif-font-family;
    color: $black;
  }

  dl dt::after {
    content: ':';
  }

  .task-list {
    list-style: none;
    padding-top: 1.5rem;
  }

  .MJXc-display {
    overflow-x: auto;
    overflow-y: hidden;
  }
  .toc{
    margin: 0 50px 0 50px ;
    &:before{
      content:'目次';
      background: $pink;
      padding: 10px 7px 5px 7px ;
      color: #ec6767;
      font-family: $global-serif-font-family;
      letter-spacing: 5px;
      font-weight: 700;
      font-size: 19px
    }
.toc1{
  font-size: 16px;
  border: 5px $pink solid;
  margin-right: 0px;
  font-weight: 300;
  font-family: $global-serif-font-family;
  padding:25px 16px ;
  line-height: 1.5;
  a{
    color: $black;
    padding: 0;
  a:hover{
    border: none;
    background: $pink;
    border-radius: 5px;
  color: $black;
}}
}
}
.description{
  margin: 0 50px 0 50px ;
  &:before{
    content:'歬言';
    background: $pink;
    padding: 10px 7px 5px 7px ;
    color: #ec6767;
    font-family: $global-serif-font-family;
    letter-spacing: 5px;
    font-weight: 700;
    font-size: 19px
  }
.description1{
  margin-right: -2px;
  border: 5px $pink solid;
  padding: 25px 16px;
  font-size: 18px;
  font-weight: 300;
  font-family: $global-serif-font-family;
  line-height: 1.7;
a{
  color:$theme-color;
  padding: 2px 0;
a:hover{
  border: none;
  background: $pink;
  border-radius: 5px;
  color: $black;
}}
}
}
  @import 'code';
  @import 'image';
  @import 'blockquote';
}
.post-content1 {
  margin: 0px 0 3px 0;
  word-wrap: break-word;
  text-align: justify;
  text-justify: inter-ideograph;
    writing-mode: vertical-rl;
    overflow: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 60%;
    max-height: 860px;
    border-top:  1px solid $theme-color;
    border-bottom: 1px dashed $theme-color;
    padding: 60px 0 60px 0;
  hr {
    background: $pink;
    border: none;
    width: 5px;
    height:  100%;
    margin: 0 50px ;
  }
  @for $i from 1 through 6 {
    h#{$i} {
      font-family: $global-serif-font-family;
      color: $theme-color;
      letter-spacing: 2px;
    }
  }

  h1 {
    margin: 0em 2em 0 1.2em ;
    padding-top: 2.15em;
    letter-spacing:10px;
    font-weight: 700;
    line-height: 1.55;
    font-family: $global-font-family;
  }

  h2 {
    margin-right: 0;
    font-weight: 700;
    line-height: 1.6;
    font-family: $global-font-family;
  }

  h3 {
    margin-right: 1.5em;
    font-weight: 600;
    line-height: 1.6;
  }
  h4 {
    font-weight: 700;
    line-height: 1.6;
  }
  h5 {
    font-weight: 400
  }
  h6 {
    font-weight: 200
  }

  a {
    color: $theme-color;
    word-break: break-all;
    &:hover {
    //  border-bottom: $content-link-border;
    background: $pink;
    border-radius: 5px;
    padding: 0 7px 0 2px ;
    color: $black;
    }
  }

  iframe {
    margin:  auto 0;
    display: block;
    width: 100%;
  }

  > table {
    margin:0 40px ;
      border-left: 3px solid $pink;
      width: 100%;

    td {
      border: 1px solid $pink;
      padding:5px 0px  ;
    }

    th {
      text-align: left;
      border-right: 3px solid $pink;
      border-top:  1px solid $pink;
      border-bottom:  1px solid $pink;
        border-left : 3px solid $pink;
      padding: 5px 5px  ;
    }
  }

  .post-summary {
    margin-left : -10px;
  }

  .read-more {
    text-align: right;

    .read-more-link {
      color: $theme-color;
      font-size: 0.8em;
      font-family: $global-serif-font-family;

      &:hover {
        border-left : $post-readMore-border-bottom;
      }
    }
  }

  kbd {
    display: inline-block;
    padding: 0.25em;
    background-color: $white;
    border: 1px solid #dbdbdb;
    border-left-color: #b5b5b5;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #b5b5b5;
    font-size: 0.8em;
    line-height: 1;
    font-family: $global-serif-font-family;
    color: $black;
  }

  dl dt::after {
    content: ':';
  }

  .task-list {
    list-style: none;
    padding-top: 1.5rem;
  }

  .MJXc-display {
    overflow-x: auto;
    overflow-y: hidden;
  }
  .toc{
    margin: 0 50px 0 50px ;
    &:before{
      content:'目次';
      background: $pink;
      padding: 10px 7px 5px 7px ;
      color: #ec6767;
      font-family: $global-serif-font-family;
      letter-spacing: 5px;
      font-weight: 700;
      font-size: 19px
    }
.toc1{
  font-size: 16px;
  border: 5px $pink solid;
  margin-right: 0px;
  font-weight: 300;
  font-family: $global-serif-font-family;
  padding:25px 16px ;
  line-height: 1.5;
  a{
    color: $black;
    padding: 0;
  a:hover{
    border: none;
    background: $pink;
    border-radius: 5px;
  color: $black;
}}
}
}
.description{
  margin: 0 50px 0 50px ;
  &:before{
    content:'歬言';
    background: $pink;
    padding: 10px 7px 5px 7px ;
    color: #ec6767;
    font-family: $global-serif-font-family;
    letter-spacing: 5px;
    font-weight: 700;
    font-size: 19px
  }
.description1{
  margin-right: -2px;
  border: 5px $pink solid;
  padding: 25px 16px;
  font-size: 18px;
  font-weight: 300;
  font-family: $global-serif-font-family;
  line-height: 1.7;
a{
  color:$theme-color;
  padding: 2px 0;
a:hover{
  border: none;
  background: $pink;
  border-radius: 5px;
  color: $black;
}}
}
}
  @import 'code';
  @import 'image';
  @import 'blockquote';
}

.header-link {
  margin-left: 0.5em;
  fill: currentColor;
  visibility: hidden;
}

.post-content-header:hover .header-link {
  visibility: visible;
}
