.post-header {
  margin: 0px 0 -10px 0;
  text-align: center;
  line-height: 1.5;

  .post-title {
    margin: 0 0 10px 0;
    font-size: $post-title-font-size;
    letter-spacing: 2px;
    font-weight: $post-title-font-weight;
    font-family: $global-font-family;
  }

  .post-link {
    @include underline-from-center;
  }
  .post-category {
    float: left;
    font-family: $global-serif-font-family;
    font-size: 16px;
    display: inline;
margin-right: 20px;

  a{
    padding: 2px 8px 2px 8px;
  background:  #ffc7c7;
}
a:hover{
background: none
}
  }
  .post-tag {
    float: right;
    font-family: $global-serif-font-family;
    font-size: 16px;
    display: inline;
padding: 0px;
margin-left: 12px;
a{
  padding: 2px 8px 2px 8px;
background:  #ffc7c7;
border-radius: 13px
}
a:hover{
background: none
}
  }
  .post-meta {
    font-size: 17px;
    color: black;
    letter-spacing: 0;
    .post-time {
      font-size: 16px;
      font-family: $global-code-font-family;
    }

    a {
      color: inherit;

      &:hover {
        color: $theme-color;
      }
    }

    .more-meta {
      font-family: $global-code-font-family;
      padding-left: 16px
    }

  }
}
