.post-header {
  margin: 0px 0 -10px 0;
  text-align: center;
  line-height: 1.5;

  .post-title {
    margin: 0 0 3px 0;
    font-size: $post-title-font-size;
    letter-spacing: 2px;
    font-weight: $post-title-font-weight;
    font-family: $global-font-family;
    border-bottom: 3px $theme-color solid;
    padding-bottom: 18px;
  }

  .post-link {
    @include underline-from-center;
  }
  .post-category {
    float: left;
    font-family: $global-serif-font-family;
    font-size: 16px;
    display: inline;
margin: 9px 20px 0 0;
  a{
    padding: 2px 8px 2px 8px;
  background:  $theme-color;
  color: $white;
}
a:hover{
background: none;
color:$theme-color;
}
  }
  .post-tag {
    float: right;
    font-family: $global-serif-font-family;
    font-size: 16px;
    display: inline;
padding: 0px;
margin: 9px 0px 0 20px;
a{
  padding: 2px 10px 2px 10px;
  background:  $theme-color;
  color: $white;
border-radius: 13px
}
a:hover{
background: none;
color:$theme-color;
}
  }
  .post-meta {
    font-size: 15px;
    color: $dark-gray;
    letter-spacing: 0;
    font-family: $global-code-font-family,$global-serif-font-family;
    border-top: 1px $theme-color solid;
    border-bottom: 1px $theme-color solid;
    padding: 6px 0 6px 0;

    .more-meta {
      padding-left: 16px
    }
  }
}
