{{ if or .Params.contentCopyright (and .Site.Params.contentCopyright (ne .Params.contentCopyright false)) }}
<div class="post-copyright">
  <p class="copyright-item">
    <span class="item-title">{{ i18n "author" }}</span>
    <span class="item-content">
      {{- $author_id := .Params.author | default .Site.Author.name -}}
      {{- $author := (index ($.Site.Data.authors | default dict) $author_id) -}}
      {{- $author_lang := (index ($author | default dict) .Site.Language.Lang) -}}
      {{- $author_name := $author_lang.name.display | default $author.name.display | default $author_id -}}
      {{- with $.Site.GetPage "taxonomy" (printf "author/%s" $author_id) -}}
      <a href="/author/#{{ $author_name }}">{{ $author_name | safeHTML }}</a>
      {{- else -}}
    <a href="/author/#{{ $author_name }}">{{- $author_name | safeHTML -}}</a>
      {{- end -}}
      </span>
  </p>
  <p class="copyright-item">
    <span class="item-title">{{ i18n "license" }}</span>
    <span class="item-content">
    {{- if .Params.contentCopyright -}}
      {{ .Params.contentCopyright | safeHTML }}
    {{- else -}}
      {{ .Site.Params.contentCopyright | safeHTML }}
    {{- end -}}
    </span>
  </p>
  {{ if $.Site.Params.linkToMarkDown -}}
    <p class="copyright-item">
      <span class="item-title">{{ i18n "markdown" }}</span>
      <span class="item-content"><a class="link-to-markdown" href="{{ .Params.markdown | safeHTML }}" rel="noopener" target="_blank">{{ i18n "seeMarkDown" }}</a> 査看本文 markdown。您也可以幫我改䥘字</span>
    </p>
    {{- end }}
  {{- end }}
</div>
