body {
background-color: #e0f6ff
	}
#a{
	background: #fffae8;
	font-family: AldusnovaW01-Book,"Palatino Linotype",Palatino,"Hiragino Mincho ProN",HiraginoMinchoProN,"Hiragino Mincho",HiraginoMincho,"Yu Mincho",YuMincho,"Hana Mincho",HanaMincho,HanaMin,"Ms Mincho",MsMincho,serif;
	word-wrap:break-word;
	text-align: justify;
	text-justify: inter-ideograph;
	max-width: 700px;
	padding:  60px 100px 50px 100px;
	margin: 200px auto 300px auto;
	box-shadow:  0 0 0 8px #fffae8,0 0 0 18px #e0f6ff, 0 0 0 42px #fffae8
}
#a  a{
  color: #c41011;
	text-decoration: none;
  padding: 5px 0 3px 0
}
#a a:hover {
color: #151515;
text-decoration: underline;
}
@media screen and (max-width:1000px){
  #a{
  	padding:  0 15px 30px 15px;
  	margin: 0 auto;
	box-shadow: none}
	}
#b{
		background: #fffae8;
	max-width: 740px;
	margin:auto;
}
hr{
	border: none;
    height: 3px;
	margin:80px 0;
    background: #c41011;
}
/*     intro      */
#intro {
  text-align: center;
  transition: 0.5s;
}
.pic{
  overflow:scroll;
}
    #intro .end{
	border-bottom: #C41011 1px solid;
    padding: 0 0 3px 0;
	margin: 50px 0 0 0;
	}
	#intro .end1{
	border-bottom: #C41011 3px solid;
	padding: 0 0 3px 0;
	margin:0 0 100px 0;
	}
	#intro .end2{

	padding: 0 0 3px 0;
	margin: -77px 0 75px 0;
	}
    #intro .title {
    text-align: center;
    letter-spacing: 9px;
    font-size: 52px;
	  padding: 0 0 30px 0;
	  margin: -20px 0 3px 0;
    color: #151515;
	  font-weight: 800;
	  border-bottom: #C41011 3px solid;
  }
  @media screen and (max-width:1000px){
    #intro .title {
    	font-size: 36px;}
  	}
    #intro .title1{
      margin-top: 40px;
  font-size: 70px;padding-left: 30px;
}
@media screen and (max-width:1000px){
  #intro .title1 {
    font-size: 46px;}
  }
  #intro .date{
	  letter-spacing: 2px;
	  font-size: 13px;
	  padding: 5px 0 5px 0;
	  margin: 0px 0 0px 0;
	  color: #7d7d7d;
	  font-weight: 200;
	  font-family: "Noto Sans CJK Kr",NotoSansCJKKr,"Noto Sans CJK SC",NotoSansCJKSC, PingFang,"PingFang SC",PingFangSC,Microsoft YaHei,Sans-serif ;
	  border-top: #C41011 1px solid;
	  border-bottom: #C41011 1px solid;
  }

  #intro .label {
    font-size: 21px;
      letter-spacing: 2px;
	font-weight: 700;
      padding: 30px 0 60px 0;
	  margin: 30px 0 100px 0;
	  border-bottom: #C41011 1px solid;
  }
  #intro .email {
    font-size: 18px;
	line-height: 1.5;
	padding: 25px 15px 0px 15px;
	margin-top: 3px;
	border: #C41011 1px dashed;

  }



/*blog*/
#blog {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.5;
  color: #c41011;
  border: #C41011 1px dashed;
  padding:7px 15px 20px 15px;
}

  #blog p {
		letter-spacing: 0;color: #151515;font-weight: 200;
     font-size: 18px; text-align: left;
     line-height: 1.9;
	 }
  #blog .time{
    text-align: center;
    background: #e5e5e5;
    padding: 4px 13px;
    margin: 0 15px;
    font-family: "Source Code Pro","San Francisco Mono",Monaco,"Anonymous Pro",Consolas,"Noto Sans CJK Kr",NotoSansCJKKr,"Noto Sans CJK SC",NotoSansCJKSC, PingFang,"PingFang SC",PingFangSC,Microsoft YaHei,Sans-serif ;
    font-weight: 400;
    font-size: 15px;
    color: #7d7d7d;
    letter-spacing: 0;
    border-radius: 15px;
  }



/*guqin*/
#guqin {
line-height: 2;
  text-align: center;}

#guqin .title {
  color: #151515;
  text-decoration: none;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 5px;
  display: block;
}

  #guqin p {
    letter-spacing: 0;color: #151515;font-weight: 400;
    font-size: 18px; text-align: left; }


#no1 {
margin: 236px 0	-236px 0;
}

#title1{
	border: 1px #c41011 solid;
	padding:14px 20px 20px 25px;
	font-weight: 700;
	letter-spacing: 5px;
	font-size: 20px;
	margin:0 auto;
  text-align: center;
  font-family:Hiragino Mincho ProN,HiraginoMinchoProN,Hiragino Mincho,HiraginoMincho,Yu Mincho,YuMincho,Hana Mincho,HanaMincho,HanaMin,Ms Mincho,MsMincho,serif
}

#note{
	font-family: "Noto Sans CJK Kr",NotoSansCJKKr,"Noto Sans CJK SC",NotoSansCJKSC, PingFang,"PingFang SC",PingFangSC,Microsoft YaHei,Sans-serif ;
color:grey;
font-size: 15px;
font-weight: 100;
padding-left: 18px
}

#valine
{
font-family: "Noto Sans CJK Kr",NotoSansCJKKr,"Noto Sans CJK SC",NotoSansCJKSC, PingFang,"PingFang SC",PingFangSC,Microsoft YaHei,Sans-serif ;
border: 1px #c41011 dashed;
font-size: 18px;
padding:0 20px;
margin-bottom: 100px;
line-height: 1.7;
}

#bottom{
margin:96px 0 -96px 0
}
@media screen and (max-width:1000px){
  #bottom{
  	display:none}
	}

#top{
margin:-102px 0 102px 0
}
@media screen and (max-width:1000px){
  #top{
  	display:none}
	}
