body {
background-color: #e0f6ff
	}
#a{
	background: #fffae8;
	font-family: AldusnovaW01-Book,"Palatino Linotype",Palatino,"Hiragino Mincho ProN",HiraginoMinchoProN,"Hiragino Mincho",HiraginoMincho,"Yu Mincho",YuMincho,"Hana Mincho",HanaMincho,HanaMin,"Ms Mincho",MsMincho,serif;
	word-wrap:break-word;
	text-align: center;
	max-width: 700px;
	padding:  60px 100px 50px 100px;
	margin: 120px auto;
	border-radius: 25px;
	-webkit-box-shadow: 0 2px 20px -5px ;
	box-shadow: 0 2px 20px -5px;
line-height: 1.5;
}
#a .title {
  color: #151515;
  text-decoration: none;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 5px;
  display: block;
}
  #a p {
    letter-spacing: 0;
		color: #151515;
		font-weight: 400;
    font-size: 18px;
		line-height: 1.9;
		text-align: left; }
#a .label{
	font-size: 21px;
		letter-spacing: 2px;
font-weight: 700;
text-align: center;
line-height: 1.4;
}
#a  a{
  color: #c41011;
	text-decoration: none;
  padding: 5px 0 3px 0
}
#a a:hover {
color: #151515;
text-decoration: none;
}
hr{
	border: none;
    height: 8px;
	margin:50px auto;
    background: #e0f6ff;
		width: 150px;
}
#cate{
	text-align: center;
	font-family: "Noto Sans CJK Kr",NotoSansCJKKr,"Noto Sans CJK SC",NotoSansCJKSC, PingFang,"PingFang SC",PingFangSC,Microsoft YaHei,Sans-serif ;
	font-size: 17px;
	font-weight: 200;
	color: #8c8c8c;
	margin: 0 auto;
}
#bigcard{
	max-width: 900px;
	margin: 120px auto;
	 display: -webkit-box;
}
#card-container{
	margin: 0 auto;
	width: 350px;
}
#card-container a{
	text-decoration:  none;
}
#card{
background-color: #fffae8;
height: 150px;
padding: 20px;
text-align:left;
line-height: 1.5;
-webkit-transition: .3s;
transition: .3s;
-webkit-box-shadow: 0 5px 20px -10px ;
box-shadow:  0 5px 20px -10px ;
}
#card .title{
	font-family: AldusnovaW01-Book,"Palatino Linotype",Palatino,"Hiragino Mincho ProN",HiraginoMinchoProN,"Hiragino Mincho",HiraginoMincho,"Yu Mincho",YuMincho,"Hana Mincho",HanaMincho,HanaMin,"Ms Mincho",MsMincho,serif;
		font-weight: 700;
		font-size: 25px;
		color: #2b2b2b;
		  letter-spacing: 5px;
}
#card .time{
	font-family:"Source Code Pro","San Francisco Mono", "Courier New",Monaco,Menlo, Inconsolata,"Anonymous Pro",monospace, "Noto Sans CJK Kr",NotoSansCJKKr,"Noto Sans CJK SC",NotoSansCJKSC, PingFang,PingFangSC,"Microsoft YaHei",Sans-serif ;
	font-weight: 300;
	font-size: 16px;
	color: #7d7d7d;
	letter-spacing: 0;
}
#card p{
	font-weight: 300;
	text-align: right;
	font-family: "Noto Sans CJK Kr",NotoSansCJKKr,"Noto Sans CJK SC",NotoSansCJKSC, PingFang,"PingFang SC",PingFangSC,Microsoft YaHei,Sans-serif ;
	font-size: 17px;
	font-weight: 200;
	color: #7d7d7d;
}
@media screen and (max-width:1000px){
	#a{
		padding:  40px 15px 30px 15px;
		margin: 80px auto;}
			#card-container {margin: 50px auto;}
			#bigcard{
			 display:block;
			 margin: 80px auto
			}
	}
