body {
	background-color:#fffff8;
	background-image: linear-gradient(#e08282 8px, transparent 10px),
	linear-gradient(#95bbe7 8px, transparent 10px),
		linear-gradient(90deg, #95bbe7 8px, transparent 10px),
linear-gradient(90deg, #e08282 8px, transparent 10px);
	background-size: 240px 240px, 240px 240px, 240px 240px, 240px 240px;
	background-position:50px 50px, 170px 170px,170px 170px,50px 50px ;
	color: #151515;
text-align:justify;
text-justify: inter-ideograph;
word-break: break-all;
font-family: "Palatino Linotype",Palatino,"Hiragino Mincho ProN",HiraginoMinchoProN,"Hiragino Mincho",HiraginoMincho,"Yu Mincho",YuMincho,"Hana Mincho",HanaMincho,HanaMin,"Ms Mincho",MsMincho,serif;
	}
	a {
	  color: #ba8c01;
		text-decoration: none;
	}
	a:hover {
	color: #151515;
	text-decoration: underline;
	-webkit-transition: .5s;
	transition: .5s;
	}
	#cover{
		background: #fffae8;
		word-wrap:break-word;
		text-align: center;
		line-height: 1.5;
		max-width: 320px;
		margin: 120px auto;
		padding:25px 10px 6px 10px;
		border-radius: 60px;
		border: 20px solid #2b2b2b;
		-webkit-box-shadow: 0 2px 35px -5px  black;
		box-shadow: 0 2px 35px -5px black;
		background-image:url('/background.jpg');
		background-size:cover;
		transform: perspective(1000px) rotateX(60deg) rotateY(20deg) ;
		-webkit-transition: 1s;
		transition: 1s;
	}
	#cover:hover{
				transform: perspective(1000px) rotateX(0deg) rotateY(00deg);
	}
	#cover .time{
		font-family: "Noto Sans CJK Kr",NotoSansCJKKr,"Noto Sans CJK SC",NotoSansCJKSC, PingFang,"PingFang SC",PingFangSC,Microsoft YaHei,Sans-serif ;
		color:#2b2b2b;
		line-height: 1;
   margin: -30px -25px  0 -25px;
   padding: 10px 20px 15px 20px;
		font-size:14px;
		font-weight: 400;
	}
#cover .time .year{
	padding-left: 20px;
text-align: left;
}
	#cover .time .des	{
float:right;
		padding-right: 20px;
	}

	#cover .label{
		font-size: 20px;
			letter-spacing: 2px;
	font-weight: 700;
	text-align: center;
	line-height: 1.2;
	}
	#cover .mail{
		font-size: 18px;
	}

hr{
	border: none;
    height: 8px;
	margin:50px auto;
		width: 150px;
		border-radius:5px;
}
#hr{
	text-align: center;
	font-size: 13px;
	color:#c5a031;
		margin:40px auto;
		letter-spacing: 2px;
}
#cover .in{
	height: 30px;
	margin:-30px auto 0px auto;
	width: 150px;
	background:#2b2b2b;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}
#cover .in1{
	text-align:center;margin:-20px 135px 20px 135px;padding:1px 20px 5px 20px;background-color:#646464;border-radius:5px;
}
#cover .in2{
text-align: center;
	height: 5px;
	margin:50px auto 1px auto;
	width: 100px;
	background:#151515;
	border-radius: 5px;
	position:relative;
	animation-name: bar;
animation-duration:1.5s;
animation-delay: 4s;
animation-iteration-count:16;
animation-timing-function: ease-in;
animation-direction:alternate;
}
@keyframes bar{
	from {bottom:0px;}
	to{ bottom:10px;background:#9a9a9a}
}
#cate{
	text-align: center;
	font-family: "Noto Sans CJK Kr",NotoSansCJKKr,"Noto Sans CJK SC",NotoSansCJKSC, PingFang,"PingFang SC",PingFangSC,Microsoft YaHei,Sans-serif ;
	font-size: 16px;
	font-weight: 200;
	color: #8c8c8c;
	margin-bottom:-40px
}
#bigcard{
	text-align: center;
	max-width: 900px;
	margin: 120px auto 150px auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
}
#card-container{
	margin: 0 50px;
	width: 350px;
	height: 150px;
}
#card-container a{
	text-decoration:  none;
}
#card{
background-color: #fffae8;
padding: 20px 20px 1px 20px;
text-align:left;
line-height: 1.5;
border: 1px #2b2b2b solid;
border-radius: 13px;
-webkit-transition: .3s;
transition: .3s;
-webkit-box-shadow: 0 2px 30px -5px  #2b2b2b ;
box-shadow:  0 2px 30px -5px  #2b2b2b ;
}
#card:hover{
	-webkit-box-shadow: 0px 5px 40px  #2b2b2b ;
	box-shadow:  0px 5px 40px  #2b2b2b ;
}
#card .title{
	font-family: "Palatino Linotype",Palatino,"Hiragino Mincho ProN",HiraginoMinchoProN,"Hiragino Mincho",HiraginoMincho,"Yu Mincho",YuMincho,"Hana Mincho",HanaMincho,HanaMin,"Ms Mincho",MsMincho,serif;
		font-weight: 700;
		font-size: 25px;
		color: #2b2b2b;
		  letter-spacing: 5px;
			line-height: 1;
}
#card .time{
	font-family:"Source Code Pro","San Francisco Mono", "Courier New",Monaco,Menlo, Inconsolata,"Anonymous Pro",monospace, "Noto Sans CJK Kr",NotoSansCJKKr,"Noto Sans CJK SC",NotoSansCJKSC, PingFang,PingFangSC,"Microsoft YaHei",Sans-serif ;
	font-weight: 300;
	font-size: 16px;
	color: #7d7d7d;
	letter-spacing: 0;
}
#card p{
	font-weight: 300;
	text-align: right;
	font-family: "Noto Sans CJK Kr",NotoSansCJKKr,"Noto Sans CJK SC",NotoSansCJKSC, PingFang,"PingFang SC",PingFangSC,Microsoft YaHei,Sans-serif ;
	font-size: 17px;
	color: #7d7d7d;
}
#paper{
	background: #fffae8;
	line-height: 1.5;
	max-width: 650px;
	padding:  60px 100px 50px 100px;
	margin: 120px auto;
	border: 1px #2b2b2b solid;
	border-radius: 25px;
	-webkit-box-shadow: 0 2px 30px -5px  #2b2b2b;
	box-shadow: 0 2px 30px -5px #2b2b2b;
}
#paper .title {
	text-align: center;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 5px;
}
  #paper p {
		font-weight: 400;
    font-size: 18px;
		line-height: 1.9;
		 }
		#paper .num {
			 font-size:19px;
			 font-family: Noto Sans CJK Kr,NotoSansCJKKr,Noto Sans CJK SC,NotoSansCJKSC, PingFang,PingFang SC,PingFangSC,Microsoft YaHei,Sans-serif;
			 line-height: 1.8;
			 margin-top: 20px;
		 }
		 #paper .des{
			 font-weight: 300;
			 font-size: 17px;
			 line-height: 1.8;
			 margin-left: 30px;
		 }
#paper .num .brand{
	font-weight: 700 ;font-style: italic; font-size: 12px;font-family: serif;color: white;   background:#bc900c;   border-radius:5px;padding-left: 3px;padding-right:6px
}
#paper .num .num1{
	font-family: "Palatino Linotype",Palatino;
	font-style: italic;
	font-weight: 700;
}

@media screen and (max-width:1000px){
	#paper{
		padding:  30px 10px 30px 10px;
		margin: 80px auto;}
		#cover {
			padding: 	25px 1px 6px 1px;
			line-height: 1.3;
			margin: 50px auto 80px auto;
			border-radius: 60px;
				transform: none;
		}
		#cover .time{
						font-size:13px;
						margin: -25px -1px  0 -1px;
						padding: 10px 10px 15px 10px;
		}
		#cover .label{
			font-size: 19px;
				letter-spacing: 1px;
			line-height: 1.1}
				#cover .mail{
					font-size: 16px;
				}
				#cover .in{
					height: 30px;
					margin:-35px auto 0px auto;
					width: 140px;
					border-bottom-left-radius: 25px;
					border-bottom-right-radius: 25px;
				}
				#cover .in1{
					margin:-20px 135px 20px 135px;padding:1px 20px 5px 20px;
				}
				#cate{
					font-size: 16px;}
			#bigcard{
			 display:block;
			 margin: 80px auto 80px auto;
			}
			#card-container {margin: 50px auto;
					display: block;
			}
			#card{
				line-height: 1.3;
			}
			#card .title{	font-size: 22px; letter-spacing: 3px;}
			#card p{	font-size: 16px;}
			hr{
				margin:25px auto;
						width: 110px;
						  height: 6px;
			}
			#hr{
				font-size: 12px;
				color:#bc900c;
					margin:40px auto;
					letter-spacing: 2px;
			}
			#paper .title {
					font-size: 22px; letter-spacing: 3px;
			}
			  #paper p {
					  font-size: 17px;
						line-height: 1.7;
				}
					#paper .num {
						 font-size:17px;
						 line-height: 1.8;
						 margin-top: 12px;
					 }
					 #paper .des{
						 font-size: 15px;
						 line-height: 1.7;
						 margin-left: 27px;
					 }
					 #paper .num .brand{
				 font-size: 10px;
				 border-radius: 3px;
	}
