// ==============================
// Pagination
// ==============================

.pagination {
  margin: $pagination-margin;
  text-align: center;
  @include clearfix;

  li {
    display: inline-block;

    a {
      font-family: $global-code-font-family;
      font-size: 16px;
      background: $white;
      margin: 0 .3em .2em .3em;
      color: $black;
      float: left;
      line-height: 1.42857143;
      padding: 6px 12px;
      position: relative;
      border-radius: 12px;
      text-decoration: none;
    }
    a:hover{
      background: none;
    }
  }

  .active {
    a {
      background: $pink;
      color: $theme-color;
      cursor: default;
      z-index: 2;
    }
    a:hover{
      background: $pink;
    }
  }

  .prev,
  .next {
    font-weight: 600;
    font-size: $pagination-font-size;
    font-family: $global-serif-font-family;
    transition-property: transform;
    transition-timing-function: ease-out;
    transition-duration: 0.3s;
  }

  .prev {
    float: left;
    &:hover {
      color: $theme-color;
      transform: translateX(-4px);
    }
  }

  .next {
    float: right;

    &:hover {
      color: $theme-color;
      transform: translateX(4px);
    }
  }
}

@include max-screen() {
  .pagination {
    margin: 1em 0;
  }
}
