// ==============================
// Post
// ==============================

.post {
  // padding: 3em 5em;
  padding: 1em 0em;
  margin: 0 .8em 7em;
  @import '_post/header';
  @import '_post/toc';
  @import '_post/content';
  @import '_post/copyright';
  @import '_post/reward';
  @import '_post/footer';
  @import '_post/utteranc';
  @import '_post/footnote';
  @import '_post/shortcode_notice';
  border-radius: 25px;
  -webkit-box-shadow: 0 2px 20px -5px ;
  box-shadow: 0 2px 20px -5px;
}

.disqus-comment {
  margin: 0 5em 3em;
  @import '_post/disqus';
}

  .content-wrapper {
    padding: 1em 0 1px;
  }
